<div class="panel">
	<div class="panel-body">
		<iframe src="{{ displayUrl }}"></iframe>
	</div>
	<div class="panel-footer">
		{% highlight "html" %}
			{{ code | safe }}
		{% endhighlight %}
	</div>
</div>