<section class="my-16">
	<header class="justify-between">
		<h2>{{ section.data.title }}</h2>
		<span><strong>Live Examples</strong></span>
	</header>

	{{ section.data.content | safe }}
</section>